.mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr
}
.mCSB_scrollTools {
    position: absolute;
    width: 16px;
    height: auto;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .75;
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)"
}
.mCSB_scrollTools .mCSB_draggerContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto
}
.mCSB_scrollTools .mCSB_dragger {
    cursor: pointer;
    width: 100%;
    height: 30px;
    z-index: 1
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    position: relative;
    width: 4px;
    height: 100%;
    margin: 0 auto;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    text-align: center
}

/*==============================
customization
==============================*/

.mCS-custom-bar {
    opacity: 1;
}
.mCS-custom-bar.mCSB_outside + .mCSB_scrollTools {
    right: 2px;
    top: 15px;
    bottom: 15px;
}
.mCS-custom-bar.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-image: -moz-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
    background-image: -webkit-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
    background-image: -ms-linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
    background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
    width: 2px;
    -webkit-border-radius: 0;
    border-radius: 0;
}